@import 'vars.css';

.line {
  stroke: $primary;
}

.focusCircle {
  stroke: none;
  fill: $primary;
}

.focusText {
  @mixin font vizTooltip;
}

.focusTextOutline {
  @mixin font vizTooltip;
  stroke-width: 5px;
  stroke: $primary-lightest;
}

.axis {
  path {
    stroke: $medium-grey;
  }

  :global(.tick) {
    line {
      stroke: $medium-grey;
    }
    text {
      fill: $medium-grey;
      @mixin font vizTooltip;
    }
  }
}

.axisLabel {
  @mixin font vizTooltip;
  fill: $medium-grey;
}