@import 'vars.css';

.header {
  height: $header-height;
  background-color: $darkest-grey;

  .inner {
    @mixin flex right, center;
    max-width: calc($page-width - 2 * $page-side-margin);
    margin: 0 auto;
    width: calc(100% - 2 * $page-side-margin);
    height: 100%;
  }

  .fill {
    flex: 1 1 0;
  }

  .logo {
    margin-left: 4px;
  }

  .link, .logo {
    @mixin font text2;
    color: $light-grey;
    text-decoration: none;

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

